# Virtual environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
staticfiles/

# Database
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Uploaded files
media/