*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{

    background:#eef4fb;

}

/* Navbar */

.navbar{

    height:70px;

    background:#0f172a;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 45px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.logo{

    font-size:28px;

    font-weight:bold;

}

.logo span{

    color:#38bdf8;

}

.nav-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.logout{

    text-decoration:none;

    color:white;

    background:#ef4444;

    padding:10px 18px;

    border-radius:8px;

    transition:.3s;

}

.logout:hover{

    background:#dc2626;

}

/* Container */

.container{

    width:70%;

    margin:50px auto;

}

.container h1{

    color:#0f172a;

    margin-bottom:25px;

}

/* Card */

.profile-card{

    background:white;

    border-radius:20px;

    padding:45px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

/* Avatar */

.avatar{

    width:120px;

    height:120px;

    margin:auto;

    border-radius:50%;

    background:linear-gradient(135deg,#22d3ee,#2563eb);

    color:white;

    font-size:55px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:35px;

}

/* Details */

.row{

    display:flex;

    justify-content:space-between;

    padding:18px 0;

    border-bottom:1px solid #eee;

}

.row label{

    font-weight:bold;

    color:#475569;

}

.row span{

    color:#0f172a;

}

/* Buttons */

.buttons{

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:20px;

}

.edit,
.back{

    text-decoration:none;

    padding:13px 28px;

    border-radius:10px;

    color:white;

}

.edit{

    background:linear-gradient(135deg,#22d3ee,#2563eb);

}

.back{

    background:#0f172a;

}

.edit:hover,
.back:hover{

    transform:translateY(-3px);

}